<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <h3>
                        <a>TODOS APP</a>
                    </h3>
                </div>
                <div class="col-lg-6 top-nav">
                    <nav>
                        <ul class="nav nav-pills float-right">
                            <li class="nav-item">
                                <a class="nav-link active" >Add Todo </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <hr/>

            <ul class="list-group list-group-flush todo-list">
                <li class="list-group-item" *ngFor="let d of data">
                  <span class="align-left" >{{ d.name }}</span>
                  
                  
                </li>
              </ul>


        </div>
    </div>
</div>